@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.arial {
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
}

.div_flex{
  display: flex;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.text_missatgeria {
  margin-right: 75% ;
}

.pregunta1{
  background-color: #D09A6A;
  margin-right: 75%;
}
