* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;
}

.contenedor {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.layout-columnes {
    
    display: flex;
    flex-direction: row; 
    width: 100%;
    margin-top: 20px; 
}

.columna_esquerra {
    flex: 3; 
    padding-right: 20px;
    border-right: 1px solid #ddd;
}

.titol-barra-flex {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    margin-bottom: 20px; 
}

.barra-indicadora {
    width: 6px; 
    height: 35px; 
    background-color: #A37F5F; 
    margin-right: 15px; 
}

.titol-barra-flex h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.5em; 
    color: #333; 
}

.columna-dreta {
    flex: 2; 
    padding-left: 20px;
}

.caja {
    padding: 20px;
    border: 1px solid rgb(239, 217, 195);
    background-color: rgb(239, 217, 195);
}

.caja2{
    border: 1px solid rgb(226, 170, 113);
    background-color: rgb(226, 170, 113);
}

.fletxa {
    position: relative; 
    color: #333; 
    padding-left: 30px;
}

.fletxa::before{
    content: "";
    position: absolute;
    top: 50%; 
    left: 0; 
    transform: translateY(-50%); 
    width: 0;
    height: 0;
    border: 10px solid transparent; 
    border-left-color: #A37F5F; 
    border-width: 12px 0 12px 12px; 
}

.paragraf-indicador {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 15px; 
}

.barra-fina {
    width: 2px; 
    height: 1.5em; 
    background-color: #A37F5F; 
    margin-right: 8px;
    flex-shrink: 0; 
}

.paragraf-indicador strong {
    font-weight: bold;
}